@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    scroll-behavior: smooth;
    font-family: 'Slabo 27px', serif;
}

body{
    background: rgb(41, 41, 41);
}

/* --------------------   Navigationsection!   --------------------- */

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
    padding: 0px 100px;
    z-index: 999;
    background-color: rgba(122, 122, 122, 1);
}

nav .logo {
    text-decoration: none;
    font-family: 'Fredericka the Great', cursive;
    font-size: 2em;
    color:  rgb(255, 255, 255);
    text-shadow: 2px 2px 2px  rgba(255, 140, 0, 0.809);
}


nav ul {
    background: rgb(122, 122, 122);
    list-style: none;
    margin: 0;
    padding-left: 0;
  }
  
nav li {
    color: #fff;
    background: rgb(122, 122, 122);
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.3s;
  }
    
nav li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 0.1em;
  }
  
nav li:hover {
    background: rgba(255, 140, 0, 0.809);
    cursor: pointer;
  }
  
nav ul li ul {
    background: rgba(255, 140, 0, 0.809);
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
  }
  nav ul li a.active {
      border-bottom: 3px solid rgba(255, 255, 255, 0.809);
  }
  
nav ul li:hover > ul,
nav ul li:focus-within > ul, 
nav ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
  }
  
nav ul li ul li {
    clear: both;
    width: 100%;
  }


/* --------------------   Herosection!   --------------------- */
.banner {
    position: relative;
    margin-top: 20px;
    width: 100%;
    height: 50vh;
    background: rgb(41, 41, 41);
    background-image:  url("pic/bg-hero.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: left;
}

.banner .hero_text {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 120%;
    color:white;
    font-size: 2.4rem;
    letter-spacing: 0.3rem;
}

.banner .hero_text span {
    font-size: 2rem;
    font-weight: lighter;
    letter-spacing: 0.3rem;
    padding: 5px 0;
    font-family: 'Fredericka the Great', cursive;

}

/* --------------------   MainSection!   --------------------- */

.main_container {
    background-color: rgb(247, 247, 247);
    height: auto;
    width: 90vw;
    margin: 0 auto;
    border-radius: 5px;
    margin: 1px auto;
}
.deaSim_main {
  display: flex;
  justify-content: space-evenly;
  margin: 0px auto;
  margin-top: 80px;
  color: rgb(255, 255, 255);
}
/* --------------------   AboutSection!   --------------------- */


.intro_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px 180px;
    padding-top: 50px;
    height: 60vh;
}


.about-text {
    line-height: 20px;
    padding-right: 100px ;
    line-height: 40px;
    font-size: 20px;
  }
.about-text .about-h2 {
    display: block;
    font-size: 40px;
    padding-bottom: 20px;
    min-width: 500px;
}

.about-text span{
    display: block;
}


  
.about_sec3 {
    grid-area: p1;
    background-color: rgba(216, 12, 12, 0.467);
    width: 100%;
    padding: 20px;
    margin: 60px 0;
    line-height: 30px;
    letter-spacing: 2px;
    border-radius: 15px;
    transition: all 300ms;
    color:rgb(247, 247, 247);
  }
  .about_sec3:hover {
      border-radius: 0;
      background-color: rgba(216, 12, 12, 0.844);
  }

.about_sec4 {
    grid-area: p2;
    background-color: rgba(7, 105, 70, 0.467);
    width: 70%;
    height: 50%;
    padding: 20px;
    line-height: 30px;
    border-radius: 15px;
    transition: all 300ms;
  }
  .about_sec4:hover {
    border-radius: 0;
    background-color: rgba(7, 105, 71, 0.857);
}

.about_sec5 {
    grid-area: p3;
    background-color: rgba(165, 147, 9, 0.467);
    width: 70%;
    height: 50%;
    padding: 20px;
    line-height: 30px;
    border-radius: 15px;
    transition: all 300ms;
  }
  .about_sec5:hover {
    border-radius: 0;
    background-color: rgba(165, 147, 9, 0.867);
}

.about_sec6 {
    grid-area: p4;
    background-color: rgba(26, 12, 216, 0.467);
    width: 70%;
    height: 50%;
    padding: 20px;
    line-height: 30px;
    border-radius: 15px;
    transition: all 300ms;
  }
  .about_sec6:hover {
    border-radius: 0;
    background-color: rgba(26, 12, 216, 0.967);
}
  
  .about_container {
    background-color: rgb(41, 41, 41);
    border-radius: 5px;
    margin: 70px 2px;
    padding: 10px;
    width: auto;
    column-gap: 10px;
    gap: 15px;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    flex-wrap: wrap;
    overflow: hidden;
    grid-template-areas: 
      "p1 p2 p3 p4 ";
  } 

  .about_container p a,
  .about-p1 {
      display: block;
      font-size: 20px;
      font-weight: bolder;
      padding: 5px 0;
      margin-bottom: 20px;
      letter-spacing: 2px;
     
  }

  .about_container p a{
    font-weight: lighter;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px black;
    border: 1px solid rgba(255, 255, 255, 0);
    display: flex;
    justify-content: center;
    padding: 0 3px;
  }

  .about_container p  a:hover{
    border: 1px solid white;
  }

  /* --------------------   DEASection!   --------------------- */


  .dea_sec {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 180px 180px;
    padding-top: 50px;
  }

  .dea-h2{
    font-family: 'Fredericka the Great', cursive;
    font-size: 40px;
    padding-bottom: 20px;
  }

  .dea-textbox {
      display: flex;
  }


  .dea-textbox img {
      background-color: rgb(20, 3, 3);
      padding: 10px;
      margin-right: 20px;
  }

  .dea-text{
    line-height: 20px;
    line-height: 40px;
    font-size: 20px;
    min-width: 500px;
    
  }

  .dea-text span{
      display: block;
      font-weight: bold;
      margin-top: 10px;
  }

  .dea-unten {
      margin-bottom: 100px;
  }

  /* --------------------   DEA-SIM   --------------------- */


  .deaSim_nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
    padding: 0px 100px;
    z-index: 999;
  }
  .rg_h2{
    color: white;
  }




  /* --------------------   DEA-SIM-TABLE   --------------------- */

  .dea_table_container {
    border: 2px solid rgb(0, 0, 0);
    padding: 1px 5px;
    margin-top: 10px;
    height: 420px;
    color: black;
  }

  .dea_table_container thead tr th {
    padding: 5px 5px;
    background-color: rgba(174, 116, 44, 0.809);
    color: #f1f1f1;
  }

  .dea_table_container tbody tr td{
    padding: 2px 20px;
  }

  /*------------------------Text links--------------------------*/

  .textmainlinks {
    padding: 10px;
    display: flex;
    flex-direction: column;
  }


  .rgParameter {
    font-size: 15px;
    letter-spacing: 0.1rem;
    line-height: 1.7rem;
  }

  .container_function {
    background-color: rgb(125, 125, 125);
    max-width: 300px;
    max-height: 620px;
    border-radius: 5px;
    padding: 15px 5px;
    font-size: 18px;
    letter-spacing: 1.2px;
  }

  .container_function #gen_but{
    display: block;
    padding: 4px;
    margin: 8px 0;
    width: 157px;
    font-size: large;
    border: 0;
  }
  .container_function #gen_but:hover {
    background-color: rgb(255, 196, 124);
    transition: 0.2s;
  }

  .zeichenketten input {
    padding: 6px;
    margin: 8px 0;
    cursor: text;
    border: 4px solid rgba(144, 238, 144, 0);
  }
  .zeichenketten input:hover {
    border: 4px solid rgb(255, 161, 47);
  }


  .zeichenketten button {
    padding: 8px;
    border: 0;
  }
  .zeichenketten button:hover {
    background-color: rgb(253, 192, 116);
    transition: 0.2s;
  }

  .wortFeld {
    background-color: rgb(255, 161, 47);
    font-size: 22px;
    letter-spacing: 3px;
    height: 50px;
    color: rgba(72, 72, 72, 0.463);
    padding: 10px;
    margin: 10px 0 0 0;
    width: 100%;
    overflow:auto;
  }
  

  .wortFeld2 {
    background-color: rgb(255, 161, 47);
    font-size: 22px;
    letter-spacing: 3px;
    color: rgba(72, 72, 72, 0.463);
    margin: 30px 0 0 0;
    height: 50px;
    overflow:auto;
    border: 0;
    padding: 0;
  }
  #text_box{
    display: flex;
    margin: 0;
  }

  #edit_ok {
    width: 35px;
    height: 35px;
    margin-top: 15px;
    margin-left: 5px;
  }

  /* --------------------   Info dropdown  --------------------- */
  
  /* Style The Dropdown Button */
.dropbtn {
  background-color: #80808066;
  color: white;
  border: none;
  cursor: pointer;
  padding: 0 5px;
  font-size: 16px;
  min-width: 30px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #0086bf;
  padding: 0 13px;
  z-index: 1;
  margin-left: 3px;
  width: max-content;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: inline;
}


   /* --------------------   SVG Design  --------------------- */


  .conatiner_gr {
    margin: 0 20px;
    align-self: center;
  }

  svg {
    height: 600px;
    width: 800px;
    border: rgb(255, 161, 47) solid;
    border-radius: 5px;
  }

   svg .knoten-text{
     fill: rgb(86, 86, 86);
     font-weight: bold;
     font-size: 4px;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   }

   svg .kanten-text{
    fill: rgb(136, 141, 186);
    font-weight: bold;
    font-size: 4px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  svg .arrow-circle {
    fill: none;
    /* stroke: rgb(71, 71, 71); */
    stroke-width: 0.5px;
  }

  svg .knoten-body {
    stroke: none;
    stroke-width: 0.5px;
  }

  svg .kanten-body {
    /* stroke: rgb(181, 11, 11); */
    stroke-width: 0.5px;
  }

  svg .bg-grid {
    stroke: rgba(179, 179, 179, 0.088);
    stroke-width: 0.2px;
  }

/*----------------------VideoToolsGraph--------------------*/
.container_control {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 30px;
}

.container_control button {
  padding: 10px 0;
  margin: 10px 0;
  font-size: 18px;
  border: 0;
}
.container_control button:hover {
  background-color:rgb(255, 193, 117);
}

.slidecontainer{
  display: flex;
  flex-direction: column;
  padding: 20px;
}