@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&family=Satisfy&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*--------------------Body-------------------*/

body {
    padding: 0;
    background-image: url("/MedienDesign/css/pic/coronatagebuch/fertigeSeite/bodypic1.jpg");
    background-repeat: no-repeat;
    background-size:cover;  
    background-attachment: fixed;
    font-family: 'Cormorant Garamond', serif,'Satisfy', cursive;
  }


/*--rgb(0, 155, 155)------------------header-------------------*/

nav{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    color: rgb(6, 181, 154);
}

nav p {
    margin: 0 20px;
    font-size: 30px;
}

header {
    width: 100%;
}

header nav ul {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

header nav ul li {
    list-style: none;
}

header nav ul li a{
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    font-size: 20px;
}

header nav ul li a:hover{
    background-color: rgba(93, 93, 93, 0.415);
}