@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&family=Satisfy&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*--------------------Body-------------------*/

body {
    background-image: url("/MedienDesign/css/pic/doc.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;  
    font-family: 'Cormorant Garamond', serif,'Satisfy', cursive;
  }


/*--rgb(0, 155, 155)------------------header-------------------*/

nav{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    color: rgb(6, 181, 154);
}

nav p {
    margin: 0 20px;
    font-size: 30px;
}

header {
    display: flex;
    width: 100%;
    height: 100vh;
}

 nav ul {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

 nav ul li {
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding: 5px 10px;
    font-size: 18px;
    letter-spacing: 2px;
}

nav ul li a:hover{
    background-color: rgba(93, 93, 93, 0.476);
}


.heroinfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:5%;
    width: 40vw;
    background-color: rgba(255, 255, 255, 0.489);
}

.heroinfo p {
    margin: 10px 0;
    font-size: 18px;
    line-height: 25px;
}

/*----------------sec1--------------------*/

.sec1 {
    height: 120vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.687);
    color: white;
}

.sec1 p{
    text-align: center;
    width: 300px;
    margin: 0 50px;
    padding: 20px;
    font-size: 18px;
    line-height: 25px;
    background-color: rgb(59, 59, 59);
}

.sec1 img {
    width: 800px;
    margin: 0 50px 0 0;
}

/*-----------------------sec2-------------------*/

.sec2 {
    height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.687);
    color: white;
}

.oben {
    margin: 50px 0;
}

.imgflyer {
    margin: 0 60px;
}

.sec2 img {
    width: 300px;
}

/*----------------sec3--------------------*/

.sec3 {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.687);
    color: white;
}

.sec3 p{
    text-align: center;
    width: 300px;
    margin: 0 50px;
    padding: 20px;
    font-size: 18px;
    line-height: 25px;
    background-color: rgb(59, 59, 59);
}

.sec3 img {
    width: 500px;
    margin: 0 50px 0 0;
}

/*-----------------------sec2-------------------*/

.sec4 {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.571);
}

.vioben {
    margin: 30px 0;
    width: 40%;
}

.vioben p {
    font-size: 18px;
}

.sec4 img {
    width: 300px;
}

.viflyer {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.sec4 h2 {
    margin: 10px 0;
}